/* Login Container */
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 79.76vh;
  color: #DADDD8;
  padding: 2rem;
  background-color: transparent;
}

/* Link */
.login-link {
  color: #D3F9B5;
  text-decoration: none;
  font-weight: 500;
}
.login-link:hover {
  color: #D3F9B5;
  text-decoration: underline;
}

/* Form Group */
.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 0.3rem;
}

/* Input */
.input-group-text,
.form-control {
  padding: 0.5rem;
  font-size: 1em;
  height: 35px;
}

/* Container do conteúdo */
.content-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  max-width: 900px;
  height: 100%; /* ← necessário para o login-form ocupar 100% da altura */
  gap: 0;
  border-radius: 2rem;
  overflow: hidden;
  border: #274029 1px solid;
}

/* Formulário */
.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #274029;
}

.login-form h1 {
  font-size: 2em;
  font-weight: 500;
  color: #DADDD8;
}

/* Imagem */
.login-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

/* Responsivo */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    width: 90%;
  }

  .login-form,
  .login-img {
    width: 100%;
    border-radius: 2rem;
  }

  .login-form {
    border-radius: 2rem 2rem 0 0;
  }

  .login-img {
    height: 200px;
    border-radius: 0 0 2rem 2rem;
  }

  .form-control {
    width: 100%;
  }
}
