.home-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 2rem;
}
.major-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    padding-top: 4%;
}
.intro-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
#history.intro-box {
    flex-direction: row-reverse;
}
.intro-box div{
    width: 75%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro-img{
    width: 75%;
}
#location.intro-img{
    box-shadow: none;
}
.intro-box article{
    width: 80%;
    font-size: 17px;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.text{
    width: 50%;
    font-size: 27px;
    text-align: center;
}
.section-box{
    display: flex;
    gap: 3rem;
    font-size: 20px;
    flex-wrap: wrap;
}

#section-link{
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    padding: 15px;
    font-size: 23px;
}

#section-link:hover{
    background-color: darkgreen;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.2);
    border: 1px solid;
    border-radius: 1rem;
}
.endereco{
    font-size: 21px;
    color: black;
    padding: 10px;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
    background-color: white;
}

.contato{
    font-size: 21px;
    color: black;
    padding: 10px;
    width: 100%;
}
