.intro-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh; /* ← muda aqui */
    gap: 3rem;
    border-bottom: #3D0C11 1px solid;
}

.intro-text{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
    font-size: inherit;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://i.imgur.com/nqrOJJW.png');
}
.intro-welcome{
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: #D16014;
}
.title {
    font-size: 2em;
    font-weight: bold;
    display: block;
    margin-bottom: 1rem;
  }

.intro-article{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
}
.welcome-img-text {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
.welcome-text {
    margin-top: 1rem;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
  }
#location.welcome-img-text{
    flex-direction: row-reverse;
} 
.welcome-img {
    flex: 1 1 300px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
.welcome-box{
    flex: 1 1 300px;
    max-width: 600px;
      
}

#intro-button{
    background-color: #D16014;
    border-color: #D16014;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    font-size: 1.2em;
    width: 170px;
    height: 55px;
    border-radius: 0.8rem;
}

.cardapio-collection {
    padding: 2rem;
}
  
.cardapio-collection .title {
    font-size: 2em;
    padding-block: 3rem ;
    text-align: center;
    margin-bottom: 1rem;
    display: block;
}
  
.cardapio-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.cardapio-img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
#cardapio-link{
    text-decoration: none;
    color: #DADDD8;
    transition: all 0.3s;
}
#cardapio-link:hover{
    color: #D3F9B5;
    cursor: pointer;
    transform: scale(1.1);
}

.card-body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .welcome-img-text {
      flex-direction: column !important;
    }

    .cardapio-collection {
        height: auto;
    }
    
    .cardapio-box-container {
        padding-top: 1rem;
        gap: 1rem;
    }
  
    .welcome-box {
      width: 90%;
    }
  
    .welcome-img {
      max-width: 90%;
    }
    .intro-text {
      font-size: 1.2rem;
      padding: 1rem;
    }
  
    .intro-article {
      width: 90%;
    }
  
    .title {
      font-size: 2rem;
    }
  
    #intro-button {
      width: 100%;
    }
  }
  