.header-box{
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 80px;
    gap: 5rem;
    align-items: center;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
}

.titleheader-box{
    padding-left: 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.headertype-box{
    display: flex;
    gap: 5rem;
    justify-content: center;
    width: 65%;
    font-size: 18px;
    text-decoration: none;
}

.title-header{
    font-size: 1.3rem;
    font-weight: 600;
}

.title-img{
    width: 40px;
}

#icon-link{
    transition: all 0.3s;
    text-decoration: none;
    color: black;
}

#icon-link:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}

#type-link{
    color: black;
    transition: all 0.3s;
    text-decoration: none;
    padding: 12px;
}

#type-link:hover{
    background-color: darkgreen;
    border-radius: 1rem;
    color: whitesmoke;
    cursor: pointer;
    transform: scale(1.2);
}
