
.header-box{
    background-color: #274029;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
    box-sizing: border-box;
    position: sticky;
    z-index: 1000;
    margin: 0 auto;
}

.titleheader-box{
    padding-left: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headertype-box{
    display: flex;
    gap: 5rem;
    justify-content: center;
    width: 65%;
    font-size: 16px;
    text-decoration: none;
    text-overflow: clip;
    overflow: hidden;
}

.title-header{
    font-size: 1.3rem;
    font-weight: 600;
    text-overflow: clip;
}

.title-img{
    width: 40px;
}

#icon-link{
    transition: all 0.3s;
    text-decoration: none;
    color: #DADDD8;
    text-overflow: clip;
    padding: 0;
}

#icon-link:hover{
    color: #D3F9B5;
    cursor: pointer;
    transform: scale(1.1);
}

#type-link{
    color: #DADDD8;
    transition: all 0.3s;
    text-decoration: none;
    margin-inline: 12px;
    margin-block: 3px;
    font-size: 17px
}

#type-link:hover{
    color: #D3F9B5;
    cursor: pointer;
    transform: scale(1.12);

    border-bottom: #D3F9B5 solid 1px;
}

.profile-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.personal-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 1rem;
}
.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .icon-img {
    width: 30px;
    height: auto;
  }
@media (max-width: 768px) {
    .headertype-box {
      display: none; /* Você pode depois substituir por um menu hamburguer */
    }
  
    .title-header {
      font-size: 1rem;
    }
  
    .title-img {
      width: 30px;
    }
  
    .personal-box {
      gap: 0.5rem;
    }
  
    .profile-pic {
      width: 30px;
      height: 30px;
    }
  
    #offcanvas {
      width: 80vw;
    }
  }