@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

body{
  overflow: visible;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.acessibilidade-grande {
  font-size: 1.25rem !important;
}

.acessibilidade-grande * {
  font-size: inherit !important;
}
  /* Para desktops */
@media (min-width: 1024px) {
  .major-box {
    width: 100%;
    min-height: 100%;
    text-align: center;
  }
}html {
  overflow-anchor: auto;
}
