.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}
.cart-content {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  margin: 0;
}
.cart-img {
  border-radius: 0.5rem;
}